$font-headings: 'Aleo', serif;
$font-primary: 'Josefin Sans', sans-serif;


$color-primary: #5474fd;
$color-primary-dark: #496bfe;
$color-white: #ffffff;
$color-dark-bg: #333333;
$color-footer-bg: #232323;
$color-text-muted: #e8e8e8;


$bp-tablet: 768px;
$bp-desktop: 1024px;